<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126895866787-bmnu3h4r2cskq7eb2fuubh810tbb8brv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126895866787-bmnu3h4r2cskq7eb2fuubh810tbb8brv</string>
	<key>API_KEY</key>
	<string>AIzaSyBgif5ISXxLRX5YMBvWOFIMdBTEV_Jf2O0</string>
	<key>GCM_SENDER_ID</key>
	<string>126895866787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceksi.-6-FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-66ec8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-66ec8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126895866787:ios:1d86dfe8f3558af494d016</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-66ec8.firebaseio.com</string>
</dict>
</plist>